body {
  background-color: rgb(32, 182, 170);
  background: radial-gradient(
      rgb(97, 206 194), black 120%
    );
  background-size: contain;
  height: 100vh;
  margin: 0;
  overflow: scroll;
  padding: 1.3rem;
  color: white;
  font: 1rem "Cascadia Code", Inconsolata, monospace;
  text-shadow: 0 0 2px #CCCCCC;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}